doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title test-work
        link(rel="stylesheet", href="./sidebar/sidebar.css")
        link(rel="stylesheet", href="style.css")
        link(rel="stylesheet", href="./content/content.css")
    body  
        .main 
            include sidebar/sidebar.pug
            include content/content.pug 
